{% extends 'base.html' %}

{% block main %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
<p>    Te enviamos um email com as instrucoes de reset da sua senha if uma conta com este email existir no nosso
    banco de dados
</p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
<p>
      Se voce nao tiver recebido um email por favor cetifique-se de que voce entrou com um email correto
</p>
{% endblock %}
