<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Person details</h1>

Nome: {{ object.first_name }}<br>
Sobrenome: {{ object.last_name }} <br>
Documento: {{ object.doc }}<br>


<h2>Vendas</h2>
{% for venda in vendas %}
    <p>Venda id: {{ venda.id}}</p>
    <h3>Lista de produtos</h3>
    <ul>
        {% for produto in venda.produtos.all %}
        <li>{{ produto.id }} - {{ produto.descricao }}</li>
        {% endfor %}
    </ul>
{% endfor %}

<p>Date: {{ now|date }}</p>


<a href="{% url 'person_update_cbv' object.id %}">Update</a>
<a href="{% url 'person_delete_cbv' object.id %}">Delete</a>
</body>
</html>