{% extends 'base.html' %}
{% load filters %}

{% block title %} Administracao {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <h3>Listagem de clientes</h3>
            <ul class="list-group">
                {% for person in persons %}
                    <li class="list-group-item">
                        <a href="{% url 'persons_update' person.id %}">{{ person.first_name }}</a>
                        <a href="{% url 'persons_delete' person.id %}" class="trash-item">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>

                {% empty %}
                    <li>Desculpe, nao existem clientes cadastrados</li>
                {% endfor %}
            </ul>

            <br>

            <a href="{% url 'person_new' %}" class="btn btn-primary"> Novo cliente</a>

        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Ola {{user.username }}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">Sair</span>
                    </a>
                </p>
            {% endif %}
        </div>
    </div>

{% filter force_escape|lower %}
    This text will be HTML-escaped, and will appear in all lowercase.
{% endfilter %}

{% if persons|length >= 2 %}
   You have lots of messages today!
{% endif %}

{% now "d F Y H:i" %}

{{ footer_message|my_filter }}

{{ 123.3445|arredonda:2 }}

{% endblock %}

{% block footer %}
    {% include 'footer.html' with minha_var=footer_message %}
{% endblock %}
